// color
$swatch_1: #8c3a60;
$swatch_2: #023e73;
$swatch_3: #033159;
$swatch_4: #08a6a6;
$swatch_5: #f25252;
$swatch_6: #0000FF;
$swatch_7: #000000;
$swatch_8: #A9A9A9;
$swatch_9: #ffffff;
$swatch_10: #912189;
$swatch_11: #00000080;
$swatch_12: #032c4f;
$swatch_13: #55FFCE;
$swatch_14: #f98489;
$swatch_15: #fbd05f;
$swatch_16: #c69aff;

// break point
$sm: 480px;
$md: 640px;
$lg: 960px;
$xl: 1200px;
$xxl: 1600px;
