.header {
  padding-top: 15px;
  @media (min-width: $md) {
    padding-top: 30px;
  }
  @media (min-width: $xl) {
    position: relative;
  }
  &__box-text {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    @media (min-width: $md) {
      max-width: 600px;
    }
  }
  &__heading {
    margin-bottom: 0;
    text-transform: capitalize;
    line-height: 50px;
    background: $swatch_5;
    background: linear-gradient(0deg, $swatch_5 50%,
                $swatch_9 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (min-width: $lg) {
      font-size: 32px;
    }
    &_position {
      display: block;
      @media (min-width: $md) {
        display: inline-block;
      }
    }
  }
  &__box-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 60px;
    @media (min-width: $xl) {
      position: absolute;
      top: -19px;
      right: -205px;
    }
  }
}