.header {
  &__box-text {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }
  &__heading {
    margin-bottom: 0;
    text-transform: capitalize;
    line-height: 50px;
    background: $swatch_5;
    background: linear-gradient(0deg, $swatch_5 50%,
                $swatch_9 65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &_position {
      display: block;
    }
  }
  &__box-button {
    margin: 0 auto;
    width: 180px;
    height: 60px;
  }
}